body{
  background: url("crr.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
.btns12{
position: absolute;
width: 1200px;
margin-left:0px;
margin-right: auto;
margin-top: 0px;

}
h1{
  color:WHITE;
  text-transform: uppercase;
  font-size: 70px;
  font-family: sans-serif;
  margin-top: 200px;
  text-align: center;
  margin-left: 550px;
}
.button{
  margin-left: 700px;
}

.btn{
  border: 1px solid white;
  color: RED;
   font-family: century gothic;
   font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
}
.btn1:hover{
  background:WHITE;
}
.btn2:hover{
    background:WHITE;
}
.tabs{
float:right;
list-style: none;
margin-top: 30px;
}
.tabs li{
  display: inline-block;
}
.tabs li a{
  color: white;
  font-family: century gothic;
   padding: 5px 30px;
   text-decoration: none;
   font-weight: bold;
}
 .tabs li a:hover{
  border:1px solid white;
  transition-duration: 0.5s
}
.menu{
position: relative;
z-index: 1;
width: 100%;
background: grey;
height: 90px;
opacity: 0.6;
}
.footer{
position:relative;
z-index: 1;
width: 100%;
background: red;
height: 100px;
opacity: 0.6;
margin-top: 700px;
}
.the{
  margin-left: 700px;
  color: white;
  font-weight: bold;
  width: 100%;

}
.add{
    font-size: 30px;
    font-style: italic;
}
 .mail{
   font-size: 30px;
   font-style: italic;
 }
